nav {
    position: fixed;
    line-height: 100px;
    width: 100%;
    box-shadow: 3px 1px 13px 0px black;
    text-align: center;
}

a {
    position: relative;
    text-decoration: none;
    margin-left: 500px;
    color: black;
    transition: 0.5s;
    /* font */
    font-size: 34px;
    font-weight: 900;
}

a:hover {
    color: red;
}