@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@1,700&display=swap');
/* about */
section {
    height: 100vh;
    padding: 50px;
}
#about-text{
    font-family: 'Tinos', serif;
    font-style: italic;
    font-size: 30px;
    width: 50%;
    margin:  auto;
    padding-top: 50px;
}
#bold{
    font-weight: bold;
    font-size: 40px;
}

